.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "Sidebar Main Main"
      "Sidebar Main Main"
      "Sidebar Main Main";
  }
  
  .Sidebar { grid-area: Sidebar; }
  
  .Main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.4fr 1.3fr 1.3fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "Header Header Header"
      "Main-Area Main-Area Main-Area"
      "Main-Area Main-Area Main-Area";
    grid-area: Main;
  }
  
  .Header { grid-area: Header; }
  
  .Main-Area { grid-area: Main-Area; }
  