<!DOCTYPE html>
<html>

<head>
  <title>nL Control Panel</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</head>

<body>
  <div class="container">
    <div class="Sidebar">
      <ul class="nav-list">
        <li><a href="{{ url_for('home') }}">Home</a></li>
        <li><a href="{{ url_for('notifications') }}">Notifications</a></li>
        <li><a href="{{ url_for('chatcommentary') }}">Chat Commentary</a></li>
      </ul>
    </div>
    <div class="Main">
      <div class="Header">
        <h1>nL Chat Commentary Control Panel</h1>
      </div>
      <div class="Main-Area">
        <audio controls id="musicPlayer" autoplay>
          <source src="https://file-examples-com.github.io/uploads/2017/11/file_example_MP3_1MG.mp3" type="audio/mp3">
        </audio>
      </div>
    </div>
</body>

</html>