<!DOCTYPE html>
<html>

<head>
  <title>nL Control Panel</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</head>

<body>
  <div class="container">
    <div class="Sidebar">
      <ul class="nav-list">
        <li><a href="{{ url_for('home') }}">Home</a></li>
        <li><a href="{{ url_for('notifications') }}">Notifications</a></li>
        <li><a href="{{ url_for('thumbnail') }}">Thumbnail Overlay</a></li>
      </ul>
    </div>
    <div class="Main">
      <div class="Header">
        <h1>nL Control Panel</h1>
      </div>
      <div class="Main-Area">
      </div>
    </div>
</body>

</html>