<!DOCTYPE html>
<html>

<head>
  <title>nL Control Panel</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script type="text/javascript">
    $(function () {
      $("#reload-data").on("click", function (e) {
        e.preventDefault()
        $.getJSON("/data",
          function (data) {
            $("#twitch-data").html(data["stream_status"]);
            $("#youtube-data").html(data["video_title"]);
          });
        return false;
      });
    });
  </script>

  <script type="text/javascript">
    $(function () {
      $('#post-twitch').on('click', function (e) {
        $.getJSON('/post-twitch/all',
          function (data) {
          });
        return false;
      });
    });</script>

  <script type="text/javascript">
    $(function () {
      $('#post-youtube').on('click', function (e) {
        $.getJSON('/post-youtube/all',
          function (data) {
          });
        return false;
      });
    });</script>

  <script type="text/javascript">
    $(function () {
      $('#post-twitch-twitter').on('click', function (e) {
        $.getJSON('/post-twitch/twitter',
          function (data) {
          });
        return false;
      });
    });</script>

  <script type="text/javascript">
    $(function () {
      $('#post-youtube-twitter').on('click', function (e) {
        $.getJSON('/post-youtube/twitter',
          function (data) {
          });
        return false;
      });
    });</script>

<script type="text/javascript">
  $(function () {
    $('#post-twitch-discord').on('click', function (e) {
      $.getJSON('/post-twitch/discord',
        function (data) {
        });
      return false;
    });
  });</script>

<script type="text/javascript">
  $(function () {
    $('#post-youtube-discord').on('click', function (e) {
      $.getJSON('/post-youtube/discord',
        function (data) {
        });
      return false;
    });
  });</script>

<script type="text/javascript">
  $(function () {
    $('#post-twitch-firebase').on('click', function (e) {
      $.getJSON('/post-twitch/firebase',
        function (data) {
        });
      return false;
    });
  });</script>

<script type="text/javascript">
  $(function () {
    $('#post-youtube-firebase').on('click', function (e) {
      $.getJSON('/post-youtube/firebase',
        function (data) {
        });
      return false;
    });
  });</script>

<script type="text/javascript">
  $(function () {
    $('#post-youtube-instagram').on('click', function (e) {
      $.getJSON('/post-youtube/instagram',
        function (data) {
        });
      return false;
    });
  });</script>
</head>

<body>
  <div class="container">
    <div class="Sidebar">
      <ul class="nav-list">
        <li><a href="{{ url_for('home') }}">Home</a></li>
        <li><a href="{{ url_for('notifications') }}">Notifications</a></li>
        <li><a href="{{ url_for('thumbnail_overlay') }}">Thumbnail Overlay</a></li>
      </ul>
    </div>
    <div class="Main">
      <div class="Header">
        <h1>nL Notification Control Panel</h1>
      </div>
      <div class="Main-Area">
        <div><b>Twitch</b></div>
        <div id="twitch-data">{{stitle}}</div>
        <div><b>Youtube</b></div>
        <div id="youtube-data">{{ytitle}}</div>
        <div><input type="button" id="reload-data" value="Reload Data"></input></div>
        <h3>Twitch</h3>
        <div><input type="button" id="post-twitch" value="Post All"></input></div>
        <div><input type="button" id="post-twitch-twitter" value="Post Twitter"></input></div>
        <div><input type="button" id="post-twitch-discord" value="Post Discord"></input></div>
        <div><input type="button" id="post-twitch-firebase" value="Post Firebase"></input></div>
        <h3>Youtube</h3>
        <div><input type="button" id="post-youtube" value="Post All"></input></div>
        <div><input type="button" id="post-youtube-twitter" value="Post Twitter"></input></div>
        <div><input type="button" id="post-youtube-discord" value="Post Discord"></input></div>
        <div><input type="button" id="post-youtube-firebase" value="Post Firebase"></input></div>
        <!-- <div><input type="button" id="post-youtube-instagram" value="Post Instagram"></input></div> -->
      </div>
    </div>
  </div>
</body>

</html>